<template>
  <section>
    <div class="container">
      <md-card>
        <div class="container">
          <div class="collapsible-popout">
            <ul md-collapsible="accordion.bind: accordion; popout: true;">
              <li repeat.for="item of configVars"  >
                <div class="collapsible-header">
                  ${item.key}

                  <a class="left-align" md-button="flat: true;" click.trigger="removeElement($index)" >
                    <i class="large material-icons">add</i>
                    Add new variable
                  </a>
                </div>
                <div class="collapsible-body">
                  <div class="container">
                    <div class="row">
                      <div class="col s5">
                        <md-input md-label="Key" md-value.bind="item.key"></md-input>
                      </div>
                      <div class="col s5" >
                        <md-input md-label="Value" md-value.bind="item.value"></md-input>
                      </div>
                      <div class="col s2">
                        <a md-button="floating: true; large: true;" md-waves="color: light; circle: true;"  click.trigger="removeElement($index)" >
                          <i class="large material-icons">delete</i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            </ul>
          </div>
          <div class="mdl-list__item message message--warning" if.bind="messageErrorAllowed">
            <p>Ocurrió un error. por favor intentelo de nuevo</p>
          </div>
          <div class="mdl-list__item message message--success" if.bind="messageSuccessAllowed">
            <p>Se guardó exitosamente </p>
          </div>
          <div class="mdl-list__item">
            <a md-button="floating: true; large: true;" md-waves="color: light; circle: true;" click.trigger="save()"  >
              <i class="large material-icons">save</i>
            </a>
          </div>
        </div>
      </md-card>
    </div>
  </section>
</template>

